.contenedor{
    width: 90% auto;
    display: flex;
    flex-wrap: wrap;
}
.superior{
    width: 98%;
    margin: 1%;
    margin-top: 0;
  /*  position: fixed;
    background: red;*/
}

.izq{
    width: 30%;
    margin: 1%;
}
.izq option{
    cursor: pointer;
}
.der{
    width: 100%;
    margin: 1%;
}
a{
    cursor: pointer;
}
