<div class="accordion" id="accordionExample">
  <div class="card" *ngFor="let seccion of secciones">
    <div class="card-header" id="id_card_{{seccion.seccion_id}}">
      <input class="btn btn-success"  type="button" [attr.value]="seccion.nombre" data-toggle="collapse" [attr.data-target]="'#id_c_'+seccion.seccion_id" aria-expanded="true" [attr.aria-controls]="'id_c'+seccion.seccion_id">
    </div>
    <div [attr.id]="'id_c_'+seccion.seccion_id" class="collapse" [attr.aria-labelledby]="'id_card_'+seccion.seccion_id" data-parent="#accordionExample">
      <div class="card-body">
        <form #formLogin="ngForm" (ngSubmit)="updateSeccion(formLogin,seccion.seccion_id)">
          <div class="selectores">
            <p>Nombre:</p>
            <input class="form-control form-control-sm" type="text" id="nombre" name="nombre" [(ngModel)]="seccion.nombre" required autocomplete="off">
            <div class="alert alert-danger" role="alert" *ngIf="errors[1].isError">
              {{errors[1].message}}
            </div>
          </div>
          <div class="selectores">
            <p>Descripcion:</p>
            <textarea class="form-control" id="message-text" required autocomplete="off">{{seccion.descripcion}}</textarea>
            <div class="alert alert-danger" role="alert" *ngIf="errors[2].isError">
              {{errors[2].message}}
            </div>
          </div>
          <button type="submit" class="btn btn-secondary">Guardar Cambios</button>
        </form>
      </div>
    </div>
    <div class="spinner-border text-danger" role="status" *ngIf="spinner">
        <span class="sr-only">Loading...</span>
      </div>
  </div>
</div>