<div class="contenido">
    
    <form (ngSubmit)="login()">
        <div>
            <p>Correo Electronico:</p>
            <input type="email" name="correo" [(ngModel)]="model.email" required autocomplete="off">
        </div>
        <div>
            <p>Contraseña</p>
            <input type="password" name="password" [(ngModel)]="model.password" required autocomplete="off">
        </div>
            <!--
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight">

                    <input type="checkbox" name="recordar" [(ngModel)]="model.recordar">   
                    <p>No Cerrar Sesion</p>
                </div>

                
            </div>-->

        <button class="btn btn-info" type="submit">Ingresar</button>
    </form>
</div>