.contenedor,.datos{
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.datos > input,.datos > textarea{
    width: 66%;
    margin: 2%;
}
.datos > p{
    width: 30%;
}
.col-4,.col-8{
    margin-top: 2%;
}
.col-12{
    margin-bottom: 2%;
}
.lista{
    overflow-y: scroll;
    max-height: 450px;
}
.input-group{
    margin-bottom: 2%;
}
.zero{
    padding: 0;
    margin: 0;
}