<div class="contenedor">
  <div class="col-12">
    <div class="alert alert-success" role="alert" *ngIf="errors[6].isError">
      {{errors[6].message}}
    </div>
    <div class="alert alert-success" role="alert" *ngIf="errors[7].isError">
      {{errors[7].message}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errors[10].isError">
        {{errors[10].message}}
      </div>      
  </div>
  <div class="col-5 lista">
      <div class="input-group-prepend" *ngIf="spinnerIngredientes" >
        <div class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!spinnerIngredientes">
        <form #formLogin="ngForm" (ngSubmit)="addIngrediente(formLogin)">
            <div class="input-group">
              <div class="input-group-prepend" *ngIf="spinnerIngrediente" >
                <div class="spinner-border text-danger" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <input 
              type="text" 
              class="form-control" 
              placeholder="Nuevo Ingrediente" 
              aria-label="Recipient's username" 
              aria-describedby="button-addon2"
              id="nuevoIngrediente"
              name="nuevoIngrediente"
              required 
              [(ngModel)]="nuevoIngrediente.nombre">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" id="button-addon2">Agregar</button>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="errors[5].isError">
                  {{errors[5].message}}
              </div>
            </div>
        </form>

        <ul class="list-group">
            <div *ngFor="let ingrediente of ingredientes;index as i" class="custom-control zero custom-checkbox list-group-item d-flex bd-highlight mb-3 row">
                <div class="col-2 row">
                  <div class="p-2 bd-highlight">
                    <button type="button" (click)="modificarIngrediente(ingrediente,i)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                      M
                    </button>
                  </div>
                </div>
                <div class="ml-auto p-2 bd-highlight col-8">              
                  <input 
                  type="checkbox"
                  class="custom-control-input btn btn-primary" 
                  [attr.id]="'check'+ingrediente.ingrediente_id"
                  [attr.name]="'check'+ingrediente.ingrediente_id"
                  [(ngModel)]="ingrediente.estado">
                  <label  class="custom-control-label" [attr.for]="'check'+ingrediente.ingrediente_id">{{ingrediente.nombre}}</label>
                </div>
          </div>      
        </ul>
      </div>
  </div>
  
  <div class="col-7">
    <form #formLogin="ngForm" (ngSubmit)="addPlato(formLogin)">
      <div class="datos">
        <p>Nombre del Plato:</p>
        <input 
        type="text" 
        id="nombrePlato" 
        name="nombrePlato" 
        [(ngModel)]="plato.nombre" 
        required>
        <div class="alert alert-danger" role="alert" *ngIf="errors[1].isError">
          {{errors[1].message}}
        </div>
      </div>
      <div class="datos">
        <p>Fecha:</p>
        <input type="date" 
        id="fechaPlato"
        name="fechaPlato"
        [(ngModel)]="plato.fecha"
        required>
        <div class="alert alert-danger" role="alert" *ngIf="errors[2].isError">
          {{errors[2].message}}
        </div>
      </div>
      <div class="datos">
        <p>Preparacion:</p>
        <textarea 
        class="form-control" 
        id="preparacionPlato" 
        name="preparacionPlato" 
        [(ngModel)]="plato.preparacion"
        required></textarea>
        <div class="alert alert-danger" role="alert" *ngIf="errors[3].isError">
          {{errors[3].message}}
        </div>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errors[4].isError">
          {{errors[4].message}}
        </div>
      <div class="col-12 d-flex flex-row-reverse bd-highlight">
        <button type="submit" class="btn btn-primary p-2 bd-highlight">Guardar Plato</button>
      </div>
      <div class="input-group-prepend" *ngIf="spinnerPlato" >
        <div class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div >
          <div class="alert alert-success col-12" role="alert" *ngIf="errors[8].isError">
            {{errors[8].message}}
          </div>
          <div class="alert alert-danger col-12" role="alert" *ngIf="errors[9].isError">
            {{errors[9].message}}
          </div>
        </div>
        <div class="col-6">
          <p>Nombre:</p>
        </div>
        <div class="col-6">
          <input type="text" [attr.name]="'model'+model.ingrediente_id" [attr.id]="'model'+model.ingrediente_id" [(ngModel)]="model.nombre" >
        </div>
      </div>
      <div class="modal-footer">
        <div class="input-group-prepend" *ngIf="spinnerIngredienteModificar" >
          <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="updateIngrediente()" class="btn btn-primary">Modificar Ingrediente</button>
      </div>
    </div>
  </div>
</div>