.contenedor{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
  
    background: -webkit-linear-gradient(left,  #1143a6, #00c6ff);
    height: 100vh;
}

.inferior{
    width: 100%;
    border: 1px solid;
}
.izq{
    width: 50%;
   /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;*/
    
}
.e{
  text-align: center;
  margin-top: 2%;
}
.der{
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
}

button{
    margin-top: 2%;
    opacity: 1;
    color: aliceblue;
    padding: 5px;
}
.btn-der{
    margin-right: 3%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btn-izq{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
img{
    background-size: 100% 100%;
    max-height: 100%;
    max-width: 100%;
    display:block;
    margin:auto;
    margin-top: 2%;
}
input{
  text-anchor: 20px;
  text-decoration: brown;
}
p{
  
  color: aliceblue;
}





.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(117, 117, 117);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /*PARTE RESPOSIVA*/
@media screen and (max-width: 700px){
  .contenedor{
      height: 150vh;
  }
  
}
