<div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" [attr.id]="'exampleModalLabePlato'+idSeguro">Platos {{fechaEvento}}
      </h5>
      <div class="input-group-prepend" *ngIf="spinner" >
        <div class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <button type="button" class="close" [attr.data-dismiss]="'modal'" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        <div class="alert alert-dark" role="alert" *ngIf="vacio">
            No hay platos para este dia
        </div>
        <div class="row" *ngIf="cambio">
          <div class="col-4">
            <select (change)='selectPlato($event)' size="8"  class=" form-control list-group" id="list-tab" role="tablist">
                <option *ngFor="let plato of platos" 
                class="list-group-item list-group-item-action" 
                [attr.id]="'list-home-list-plato'+plato.plato_id" 
                [attr.data-toggle]="'list'" 
                [attr.href]="'#list-plato'+plato.plato_id+idSeguro" 
                href="#list-home-plato" 
                role="tab" 
                aria-controls="home-plato"
                [attr.value]="plato.plato_id"
                >
                  {{plato.nombre}}
                </option>
            </select>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div 
              *ngFor="let plato_0 of platos" 
              class="tab-pane fade show" 
              [attr.id]="'list-plato'+plato_0.plato_id+idSeguro" 
              role="tabpanel" 
              [attr.aria-labelledby]="'list-home-list-plato'+plato_0.plato_id">
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-12">
                      <div class="card-body">
                        <div class="col-md-6">
                          <h5 class="card-title">Preparacion</h5>
                          <span class="card-text">{{plato_0.preparacion}}</span>
                          
                        </div>
                        <div class="col-md-6">
                          <h5 class="card-title">Ingrediente</h5>
                            <div class="input-group-prepend" *ngIf="spinnerIngrediente" >
                              <div class="spinner-border text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                            </div>
                          <div *ngFor="let ingrediente of ingredientes">
                            <p>{{ingrediente.nombre}}</p>
                          </div>
                        </div>
                        <!--
                        <h5 class="card-title">{{plato_0.nombre}}</h5>
                        <p class="card-text">Numero de Cursos asignados</p>
                        <p class="card-text"><small class="text-muted">3 Cursos</small></p>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>
  