<app-pantalla-carga *ngIf="!isMuestra"></app-pantalla-carga>
<div class="container emp-profile" *ngIf="isMuestra">

    <div class="row">
      <div class="alert alert-success col-md-12" role="alert" *ngIf="errors[7].isError">
        {{errors[7].message}}
      </div>
      <div class="alert alert-danger col-md-12" role="alert" *ngIf="errors[6].isError">
        {{errors[6].message}}
      </div>
      <div class="alert alert-danger col-md-12" role="alert" *ngIf="errors[0].isError">
        {{errors[0].message}}
      </div>
    </div>
    <div class="input-group-prepend" *ngIf="spinner" >
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  <form #formLogin="ngForm" (ngSubmit)="guardar(formLogin)">
      <div class="row">
          <div class="col-md-4">
              <div class="profile-img">
                  <img [src]="'/assets/img/' + imagenName">
                  <!--
                  <div class="file btn btn-lg btn-primary">
                      ...
                      <input type="file" name="file"/>
                  </div>-->
              </div>
          </div>
          <div class="col-md-4">
              <div class="profile-head">
                          <h5>
                              {{model.nombre}} {{model.apellido}}
                          </h5>
                          <h6>
                              {{model.carnet}}
                          </h6>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informacion Personal</a>
                      </li>
                  </ul>
              </div>
          </div>
          
          <div class="col-md-4" *ngIf="show">
            <input type="button" (click)="show =! show" class="profile-edit-btn" name="btnAddMore" value="Modificar Datos"/>
          </div>
          <div class="col-md-2" *ngIf="!show">
            <input type="submit"  class="btn btn-success" name="btnAddMore1" value="Guardar"/>
          </div>
          <div class="col-md-2" *ngIf="!show">
            <input type="button" (click)="show =! show" class="btn btn-danger" name="btnAddMore2" value="Cancelar"/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Nombre</label>
                    </div>
                    <div class="col-md-6">
                      <p *ngIf="show">{{model.nombre}}</p>
                      <input *ngIf="!show" type="text" id="nombre" name="nombre" [(ngModel)]="aux.nombre" class="form-control" required>
                    </div>
                    <div class="alert alert-danger col-md-12" role="alert" *ngIf="errors[1].isError">
                      {{errors[1].message}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Apellido</label>
                    </div>
                    <div class="col-md-6">
                      <p *ngIf="show">{{model.apellido}}</p>
                      <input *ngIf="!show"  id="apellido" name="apellido" type="text" [(ngModel)]="aux.apellido" class="form-control" required>
                    </div>
                    <div class="alert alert-danger col-md-12" role="alert" *ngIf="errors[2].isError">
                      {{errors[2].message}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Carnet</label>
                    </div>
                    <div class="col-md-6">
                      <p *ngIf="show">{{model.carnet}}</p>
                      <input *ngIf="!show"  id="carnet" name="carnet" type="text" [(ngModel)]="aux.carnet" class="form-control" required>
                    </div>
                    <div class="alert alert-danger col-md-12" role="alert" *ngIf="errors[3].isError">
                      {{errors[3].message}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Email</label>
                    </div>
                    <div class="col-md-6">
                      <p *ngIf="show">{{model.email}}</p>
                      <input *ngIf="!show"  id="email" name="email" type="text" [(ngModel)]="aux.email" class="form-control" required>
                    </div>
                    <div class="alert alert-danger col-md-12" role="alert" *ngIf="errors[4].isError">
                      {{errors[4].message}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Telefono</label>
                    </div>
                    <div class="col-md-6">
                      <p *ngIf="show">{{model.telefono}}</p>
                      <input *ngIf="!show"  id="telefono" name="telefono" type="text" [(ngModel)]="aux.telefono" class="form-control" required>
                    </div>
                    <div class="alert alert-danger col-md-12" role="alert" *ngIf="errors[5].isError">
                      {{errors[5].message}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Rol</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{model.tipo}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </form>           
</div>