<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-success" role="alert" *ngIf="errors[6].isError">
        {{errors[6].message}}
      </div>
      <div class="alert alert-success" role="alert" *ngIf="errors[7].isError">
        {{errors[7].message}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errors[10].isError">
        {{errors[10].message}}
      </div>      
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <form #formLogin="ngForm" (ngSubmit)="updatePlato(formLogin)">
        <div class="row">
          <p>Nombre del Plato:</p>
          <input 
          type="text" 
          id="nombrePlato" 
          name="nombrePlato" 
          [(ngModel)]="plato.nombre" 
          required
          class="col-12">
          <div class="alert alert-danger" role="alert" *ngIf="errors[1].isError">
            {{errors[1].message}}
          </div>
        </div>
        <div class="row">
          <p>Fecha:</p>
          <input type="date" 
          id="fechaPlato"
          name="fechaPlato"
          [(ngModel)]="plato.fecha"
          required
          class="col-12">
          <div class="alert alert-danger" role="alert" *ngIf="errors[2].isError">
            {{errors[2].message}}
          </div>
        </div>
        <div class="row">
          <p>Preparacion:</p>
          <textarea 
          class="form-control" 
          id="preparacionPlato" 
          name="preparacionPlato" 
          [(ngModel)]="plato.preparacion"
          required
          class="col-12">
          </textarea>
          <div class="alert alert-danger" role="alert" *ngIf="errors[3].isError">
            {{errors[3].message}}
          </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errors[4].isError">
            {{errors[4].message}}
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary p-2 bd-highlight">Guardar</button>
        </div>
        <div class="input-group-prepend" *ngIf="spinnerPlato" >
          <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </form>
    </div>

    <div class="col-5 lista">
      <div class="input-group-prepend" *ngIf="spinnerIngredientes" >
        <div class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!spinnerIngredientes">
        <ul class="list-group">
          <div *ngFor="let ingrediente of ingredientes;index as i" class="custom-control zero custom-checkbox list-group-item d-flex bd-highlight mb-3 row">
            <div class="ml-auto p-2 bd-highlight col-12">              
              <input 
              type="checkbox"
              class="custom-control-input btn btn-primary" 
              [attr.id]="'check'+ingrediente.ingrediente_id"
              [attr.name]="'check'+ingrediente.ingrediente_id"
              [(ngModel)]="ingrediente.estado"
              >
              <label (click)="ingrediente.estado=!ingrediente.estado"class="custom-control-label puntero" [attr.for]="'check'+ingrediente.ingrediente_id">{{ingrediente.nombre}}</label>
            </div>
          </div>      
        </ul>
      </div>
    </div>
  </div>
</div>