<div class="superior navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item" *ngFor="let componenteMenu of componentesMenu">
          <a class="nav-link" id="{{componenteMenu.id}}" routerLink="{{componenteMenu.ruta}}"><p>{{componenteMenu.etiqueta}}</p></a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item" *ngFor="let componente_0 of componentes_0">
            <a class="nav-link" data-toggle="modal" id="{{componente_0.id}}"(click)="cerrar()" attr.data-target="#{{componente_0.tar}}"><p>{{componente_0.etiqueta}}</p></a>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
