<!--<div class="contenido">
        <div class="d-flex bd-highlight mb-2 superior">
            <span  class="carousel-control-prev-icon mr-auto p-2 bd-highlight"></span>
            <span class="carousel-control-next-icon bd-highlight" ></span>
            
        </div>
    <div class="inferior">
        <div class="card bg-light mb-3" *ngFor="let dia of dias" >
            <div class="card-header">{{dia}} - {{jstoday}}</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
-->
<div class="contenido">
    <full-calendar (click)="handleDateClick($event)" 
    defaultView="dayGridMonth"
    [plugins]="calendarPlugins"
    [weekends]="false"
    [events]="calendarEvents"
    class="calendar"></full-calendar>
</div>
<!--Modal  (selecTurno)="SelecTurno($event)"-->
<div class="modal fade" id="targetMenuEvento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelMenuEvento" aria-hidden="true">
  <app-menu-eventos [fecha]="fechaEvento"></app-menu-eventos>
</div>