<div class="datos-user">
  <div class="imagen">
    <figure >
      <div>
        <img src="...">
      </div>
      <figcaption >
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </figcaption>
    </figure>
  </div>

  <div class="datos">
    <form (ngSubmit)="actualizar()">
      <div class="contenido-datos">
        <p>Nombre:</p>
        <input type="text" class="form-control form-control-sm" name="nombre" [(ngModel)]="model.nombre">
      </div>    
      <div class="contenido-datos">
        <p>Apellido:</p>
        <input type="text" class="form-control form-control-sm" name="apellido" [(ngModel)]="model.apellido">
      </div>
      <div class="contenido-datos">
        <p>Carnet:</p>
        <input type="text" class="form-control form-control-sm" name="carnet" [(ngModel)]="model.carnet">
      </div>
      <div class="contenido-datos">
        <p>Telefono:</p>
        <input type="text" class="form-control form-control-sm" name="telefono" [(ngModel)]="model.telefono">
      </div>
      <div class="contenido-datos">
        <p>Correo:</p>
        <input type="text" class="form-control form-control-sm" name="correo" [(ngModel)]="model.correo">  
      </div>
      <div class="contenido-datos">
        <p>Cargo:</p>
        <input type="text" class="form-control form-control-sm" name="cargo" [(ngModel)]="model.cargo">  
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>