<div class="datos-user">
  <div class="imagen">
    <figure >
      <div>
        <img src="...">
      </div>
      <figcaption >
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </figcaption>
    </figure>
  </div>

  <div class="datos">
    <div class="contenido-datos">
      <p>Nombre:</p>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="model.nombre">
    </div>    
    <div class="contenido-datos">
      <p>Apellido:</p>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="model.apellido">
    </div>
    <div class="contenido-datos">
      <p>Carnet:</p>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="model.carnet">
    </div>
    <div class="contenido-datos">
      <p>Telefono:</p>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="model.telefono">
    </div>
    <div class="contenido-datos">
      <p>Correo:</p>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="model.correo">  
    </div>
    <div class="contenido-datos">
      <p>Cargo:</p>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="model.cargo">  
    </div>
     
    <div>
      <button class="btn btn-primary">Guardar</button>
    </div>
  </div>
</div>