.contenedor{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}
.izq{
    width: 40%;
    margin:1%;
    border: 1px solid;
}
.der{
    width: 56%;
    margin: 1%;
    border: 1px solid;
}
.custom-file{
    margin: 1%;
    width: 98%;
}
.contenido-datos,.contenido-datos-n{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}
.contenido-datos p,.contenido-datos a{
    width: 49%;
    text-decoration: none;
}
img{
    display: block;
    margin: auto;
    max-height: 240px;
    max-width: 550px;
}
.contenido-datos-n p{
    width: 20%;
    text-decoration: none;
}
.contenido-datos-n input{
    width: 78%;
}