<div class="contenedor">
    <div class="izq">
      <figure >
        <div>
          <img src="...">
        </div>
        <figcaption >
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </figcaption>
      </figure>
    </div>

    <div class="der">
      <div class="contenido-datos">
        <p>Nombre:</p>
        <p>{{familiar.nombre}}</p>
      </div>    
      <div class="contenido-datos">
        <p>Apellido:</p>
        <p>{{familiar.apellido}}</p>
      </div>
      <div class="contenido-datos">
        <p>Carnet:</p>
        <p>{{familiar.carnet}}</p>
      </div>
      <div class="contenido-datos">
        <p>Telefono:</p>
        <p>{{familiar.telefono}}</p>
      </div>
      <div class="contenido-datos">
        <p>Correo:</p>
        <p>{{familiar.correo}}</p>
      </div>

      <div class="d-flex flex-row-reverse bd-highlight">
        <button type="button" class="btn btn-secondary m-3 bd-highlight" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Editar</button>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevos Datos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group contenido-datos-n">
                <p>Nombre:</p>
                <input type="text" class="form-control">
              </div>
              <div class="form-group contenido-datos-n">
                <p>Apellido:</p>
                <input type="text" class="form-control">
              </div>
              <div class="form-group contenido-datos-n">
                <p>Carnet:</p>
                <input type="text" class="form-control">
              </div>
              <div class="form-group contenido-datos-n">
                <p>Telefono:</p>
                <input type="text" class="form-control">
              </div>
              <div class="form-group contenido-datos-n">
                <p>Correo:</p>
                <input type="text" class="form-control">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar Datos</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>