.inicio,.table{
    margin: 1%;
    width: 98%;
}
.table{
    background: white;
}
h2{
    margin: 2% 0 0 5%;
    color: white;
}
.contenido{
    margin: 1%;
    padding: 0;
    padding-top: 3%;
    padding-bottom: 5%; 
}
.contenido > button{
    margin-left: 5%;
}