<div class="contenido">
  <form action="" method="post">
    <div class="largo">
      <p>Nombre:</p>
      <input type="text">
    </div>
    <div class="largo">
      <p>Apellido:</p>
      <input type="text">
    </div>
    <div class="corto">
      <p>Carnet:</p>
      <input type="text">
    </div>
    <div class="corto">
      <p>Telefono:</p>
      <input type="text">
    </div>
    <div class="largo">
      <p>Correo Electronico:</p>
      <input type="email">
    </div>
    <div class="corto">
      <p>Contraseña:</p>
      <input type="password">
    </div>
    <div class="corto">
      <p>Repita la Contraseña</p>
      <input type="password">
    </div>
    <button class="btn btn-info" type="submit">Enviar</button>
  </form>
</div>
  