.datos-user{
    display: flex;
    flex-wrap: wrap;
}
.imagen{
    width: 50%;
}
.datos{
    width: 50%;
}
.custom-file{
    margin: 1%;
    width: 60%;
}.contenido-datos{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}
.contenido-datos p,.contenido-datos a{
    width: 30%;
    text-decoration: none;
}
img{
    display: block;
    margin: auto;
    max-height: 240px;
    max-width: 550px;
}
input{
    width: 59%;
    color: aliceblue;
    border: none;
    background: #0B496C;
    border-bottom: 3px solid #fff;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    padding-top: 15px;
    outline: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
p{
    
    color: aliceblue;
}
input:focus{
    border: none;
}