.contenedor{
    display: flex;
    flex-wrap: wrap;
}

.contenido{
	width: 90%;
	margin: 1%;
	height: 100%;
	padding: 1%;
}

.contenido > div > p{
	margin-right: 2%;
} 
.selectores{
    display: flex;
    flex-wrap: wrap;	
}
.selectores p{
	width: 15%;
}
.selectores input,.input-group{
	width:80%;
}

p{
    color: aliceblue;
}
