<app-pantalla-carga *ngIf="!isMuestra"></app-pantalla-carga>

<div class="inicio" *ngIf="isMuestra">
  <div class="superior">
    <form #formLogin="ngForm" (ngSubmit)="inscribirAlumno(formLogin)">
      <div class="datos">
        <div class="largo">
          <p>Nombre:</p>
          <input class="form-control form-control-sm" id="nombre" name="nombre" type="text" [(ngModel)]="alumno.nombre" autocomplete="off" required>
          <div class="alert alert-danger" role="alert" *ngIf="errors[1].isError">
            {{errors[1].message}}
          </div>
        </div>
        <div class="largo">
          <p>Apellido:</p>
          <input class="form-control form-control-sm" id="apellido" name="apellido" type="text" [(ngModel)]="alumno.apellido" autocomplete="off" required>
          <div class="alert alert-danger" role="alert" *ngIf="errors[2].isError">
            {{errors[2].message}}
          </div>
        </div>
        <div class="corto">
          <p>Fecha de Nacimiento:</p>
          <input class="form-control form-control-sm" id="fecha_nacimiento" name="fecha_nacimiento" type="date" [(ngModel)]="alumno.fecha_nacimiento" autocomplete="off" required>
          <div class="alert alert-danger" role="alert" *ngIf="errors[3].isError">
            {{errors[3].message}}
          </div>
        </div>
        <div class="corto">
          <p>Lugar de Nacimiento:</p>
          <input class="form-control form-control-sm" id="lugar_nacimiento" name="lugar_nacimiento" type="text" [(ngModel)]="alumno.lugar_nacimiento" autocomplete="off" required>
          <div class="alert alert-danger" role="alert" *ngIf="errors[4].isError">
            {{errors[4].message}}
          </div>
        </div>
        <div class="corto">
          <p>Tipo Sanguineo:</p>
          <input class="form-control form-control-sm" id="tipo_sanguineo" name="tipo_sanguineo" type="text" [(ngModel)]="alumno.tipo_sanguineo" autocomplete="off" required>
          <div class="alert alert-danger" role="alert" *ngIf="errors[5].isError">
            {{errors[5].message}}
          </div>
        </div>
        <div class="corto">
          <p>Telefono:</p>
          <input class="form-control form-control-sm" id="telefono" name="telefono" type="text"[(ngModel)]="alumno.telefono" autocomplete="off" required>
          <div class="alert alert-danger" role="alert" *ngIf="errors[6].isError">
            {{errors[6].message}}
          </div>
        </div>
        <!--
        <div class="corto selectores">
          <p>Alergias:</p>

          <div class="input-group mb-2">
            <div class="input-group-prepend" *ngIf="spinnerTurno" >
              <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <select class="form-control">
              <option *ngFor="let alergia of alergias">{{alergia.nombre}}</option>
            </select>
            <div class="input-group-prepend">
              <button type="button" class="input-group-text" data-toggle="modal" data-target="#targetTurno" id="basic-addon3">...</button>
            </div>
          </div>
        </div>-->
        
        <div class="largo">
          <p>Domicilio:</p>
          <input class="form-control form-control-sm" id="domicilio" name="domicilio" type="text" [(ngModel)]="alumno.domicilio" autocomplete="off" required>
          <div class="alert alert-danger" role="alert" *ngIf="errors[7].isError">
            {{errors[7].message}}
          </div>
        </div>

        <div class="corto selectores">
            <p>Curso:</p>
            <div class="input-group mb-2">
              <input 
              type="text" 
              class="form-control" 
              type="text" 
              id="curso" 
              name="curso" 
              required autocomplete="off" 
              aria-describedby="basic-addon3" 
              readonly
              [(ngModel)]="curso.nombre">
              <div class="input-group-prepend">
                <button type="button" class="input-group-text" data-toggle="modal" data-target="#targetCurso" id="basic-addon3">...</button>
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errors[8].isError">
              {{errors[8].message}}
            </div>

        </div>
        <div class="selectores corto">

          <p>Turno:</p>
          
          <div class="input-group mb-2">
            <div class="input-group-prepend" *ngIf="spinnerTurno" >
              <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <input 
            class="form-control form-control-sm" 
            type="text" 
            id="turno" 
            name="turno" 
            required autocomplete="off" 
            readonly 
            [(ngModel)]="turno.nombre">
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errors[9].isError">
            {{errors[9].message}}
          </div>
        </div>
        <div class="largo">
          <label class="etiqueta">Certificado de Vacunas:</label>
          <label class="switch">
            <input type="checkbox" id="certificado_vacuna" name="certificado_vacuna" [(ngModel)]="alumno.certificado_vacuna">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="largo">
          <label class="etiqueta">R U D E:</label>
          <label class="switch">
            <input type="checkbox" id="rude" name="rude" [(ngModel)]="alumno.rude">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="largo">
          <label class="etiqueta">Certificado de Nacimiento:</label>
          <label class="switch">
            <input type="checkbox" id="certificado_nacimiento" name="certificado_nacimiento" [(ngModel)]="alumno.certificado_nacimiento">
            <span class="slider round"></span>
          </label>
        </div>
        <div>
          <button id="btn_inscribir" type="submit" class="btn btn-secondary">Inscribir Alumno</button>
        </div>
        <div class="input-group-prepend" *ngIf="spinner" >
          <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </form>
  </div>     

  <div class="inferior">
      <div class="input-group justify-content-between ">
        <button data-toggle="modal" data-target="#targetFamiliar" type="button" class="btn btn-secondary">Agregar Pariente</button>
      </div>
      <table class="table" id="tabla">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Carnet</th>
              <th scope="col">Parentesco</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let familiar of familiares;index as i">
                <th scope="col">{{i+1}}</th>
                <th scope="col">{{familiar.nombre}}</th>
                <th scope="col">{{familiar.carnet}}</th>
                <th scope="col">{{familiar.parentesco}}</th>
                <th><button type="button" (click)="removeFamiliar(i)" class="btn btn-danger">Quitar</button></th>
              </tr>
          </tbody>
      </table>


        
    </div>

</div>

<div class="modal fade" id="targetCurso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelCurso" aria-hidden="true">
  <app-seleccion-curso (selecCurso)="SelecCurso($event)"></app-seleccion-curso>
</div>

<div class="modal fade" id="targetFamiliar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelFamiliar" aria-hidden="true">
  <app-seleccion-familiar (_familiar_)="SelectFamilar($event)"></app-seleccion-familiar>
</div>
