<div class="inicio">
  <div class="superior">
    <div class="datos">
      <div class="largo">
        <p>Nombre:</p>
        <input class="form-control form-control-sm" id="nombre" name="nombre" type="text" [(ngModel)]="alumno.nombre">
      </div>
      <div class="largo">
        <p>Apellido:</p>
        <input class="form-control form-control-sm" id="apellido" name="apellido" type="text" [(ngModel)]="alumno.apellido">
      </div>
      <div class="corto">
        <p>Fecha de Nacimiento:</p>
        <input class="form-control form-control-sm" id="fecha_nacimiento" name="fecha_nacimiento" type="date" [(ngModel)]="alumno.fecha_nacimiento">
      </div>
      <div class="corto">
        <p>Lugar de Nacimiento:</p>
        <input class="form-control form-control-sm" id="lugar_nacimiento" name="lugar_nacimiento" type="text" [(ngModel)]="alumno.lugar_nacimiento">
      </div>
      <div class="corto">
        <p>Tipo Sanguineo:</p>
        <input class="form-control form-control-sm" id="tipo_sanguineo" name="tipo_sanguineo" type="text" [(ngModel)]="alumno.tipo_sanguineo">
      </div>
      <div class="corto">
        <p>Telefono:</p>
        <input class="form-control form-control-sm" id="telefono" name="telefono" type="text"[(ngModel)]="alumno.telefono">
      </div>

      <div class="corto selectores">
        <p>Alergias:</p>

        <div class="input-group mb-2">
          <div class="input-group-prepend" *ngIf="spinnerTurno" >
            <div class="spinner-border text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <select class="form-control">
            <option *ngFor="let alergia of alergias">{{alergia.nombre}}</option>
          </select>
          <div class="input-group-prepend">
            <button type="button" class="input-group-text" data-toggle="modal" data-target="#targetTurno" id="basic-addon3">...</button>
          </div>
        </div>
      </div>
      
      <div class="largo">
        <p>Domicilio:</p>
        <input class="form-control form-control-sm" id="domicilio" name="domicilio" type="text" [(ngModel)]="alumno.domicilio">
      </div>

      <div class="corto selectores">
          <p>Curso:</p>
          <div class="input-group mb-2">
            <div class="input-group-prepend" *ngIf="spinnerTurno" >
              <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <input 
            type="text" 
            class="form-control" 
            type="text" 
            id="curso" 
            name="curso" 
            required autocomplete="off" 
            aria-describedby="basic-addon3" 
            readonly>
            <div class="input-group-prepend">
              <button type="button" class="input-group-text" data-toggle="modal" data-target="#targetTurno" id="basic-addon3">...</button>
            </div>
          </div>

      </div>
      <div class="corto">
        <p>Turno:</p>
        <input class="form-control form-control-sm" type="text"placeholder="Aqui el turno" readonly >
      </div>

      <div class="largo text-right">
        <p><span>Fecha de Inscripcion: </span>{{jstoday}}</p>
      </div>
    </div>
  </div>

  <div class="inferior">
      <div class="input-group justify-content-between ">
        <button data-toggle="modal" data-target="#modal-pariente" type="button" class="btn btn-secondary">Agregar Pariente</button>

      </div>
      <table class="table" id="tabla">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Actividad</th>
              <th scope="col">fecha</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <th scope="col">1</th>
                  <th scope="col">aa</th>
                  <th scope="col">as</th>
                </tr>
          </tbody>
      </table>
      <div >
        <button id="btn_inscribir"type="button " class="btn btn-secondary" (click)="inscribir()">Inscribir Alumno</button>
      </div>

        
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="targetDocente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelDocente" aria-hidden="true">
  <app-seleccion-docente (selecDocente)="SelecDocente($event)"></app-seleccion-docente>
</div>
<div class="modal fade" id="targetSeccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelSeccion" aria-hidden="true">
  <app-seleccion-seccion (selecSeccion)="SelecSeccion($event)"></app-seleccion-seccion>
</div>
<div class="modal fade" id="targetTurno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelTurno" aria-hidden="true">
  <app-seleccion-turno (selecTurno)="SelecTurno($event)"></app-seleccion-turno>
</div>